
<p>Kategoriler</p>
<div class="list-group">
    <a href="/Home/Index" class="list-group-item">
        <span class="glyphicon glyphicon-arrow-right">

        </span>Tümü
    </a>
    @foreach (var item in Model)
    {
        <a title="@item.Description" href="/Home/ByCategory/@item.ID" class="list-group-item">
            <span class="glyphicon glyphicon-arrow-right">
            </span>@item.Title
        </a>
    }
</div>